#chatBox {

    min-height: 200px;
    height: 70%;
    
    max-width: 800px;
    overflow: auto; 
}

#container{
    width: auto;
    max-width: 800px;
    position: relative;

}

#body{
    background-color: #363636;

}

#buttons{
    background-color: #2ecc71;
    width: auto;
}

[id^=userMessageContainer]{
    width: 100%;
    float: right;
}

[id^=onTheRight]{
    width: auto;
    max-width: 50%;
    text-align: right;
    background: #FFFFFF;
    min-height: 20px;
    float: right;
    position: relative;
    right: 5px;
    word-wrap: break-word;
    padding: 10px;
    border-top: 3px solid #cb8914;
    border-radius: 5px;
    font-family: arial verdana;
    font-size: 20px;
 
}

#userAvatar {
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    float: right;
}

[id^=userMessageContainer]{
    width: 100%;
    float: left;
}

[id^=onTheLeft]{
    width: auto;
    max-width: 50%;
    text-align: left;
    background: #FFFFFF;
    min-height: 20px;
    float: left;
    position: relative;
    right: 5px;
    word-wrap: break-word;
    padding: 10px;
    border-top: 3px solid #2ecc71;
    border-radius: 5px;
    font-family: arial verdana;
    font-size: 20px;
}

#botAvatar {
    border-radius: 50%;
    padding: 5px;
    width: 50px;
}

#ranga{
    border-radius: 50%;
    padding: 5px;
    width: 380px;
    margin-left: 25%;
}

#siteImage {
    width: auto;
    align-self: left;
}

[id^=imageContainer] { 
    width: 100%;  
    float: left;
    margin-left: 40px;
}

#userInput{
    background: #363636;
    width: 80%;
    padding: 7px;
    height: 46px;
    position: relative;
    top: 2px;
    left: 2px;
    border-radius: 10px;
    color: white;
    border-width: 0;

    
}

::-webkit-input-placeholder{
    color:white;
}

#buttons{
    background-color: #2ecc71;
    width: auto;
    height: 50px;
    border-radius: 10px;
    max-width: 800px;
}
.btn {
    float: middle;
    float: right;
    width: 20%;
    height: 48px;
    position: relative;
    right: 5px;
    top: 1px;
    background-color: #2ecc71;
    border-width: 0;
    color: white;
    text-align: center;
    font-size: 20px;
    
  }
  
.btn:hover {
    background-color: #54CF87;
    text-decoration: none;
  }

#title{
    font-weight:bold;
    color:#FFFFFF;
    letter-spacing:0pt;
    font-size:50px;
    font-family:trebuchet MS, sans-serif;
    line-height:1;
    position: relative;
    left: 35%;
}


::-webkit-scrollbar {
    width: 15px;
} 

::-webkit-scrollbar {
    width: 12px;
}



::-webkit-scrollbar-track {
      background-color: #2E2B2B;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */