#chatBox {
    border: 2px solid black;
    height: 300px;
    max-width: auto;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    overflow: auto; 
    float: left;
    align-self: auto;
}

#onTheRight{
    text-align: right;
}